
// @include grid();
// @include grid ('some value'); 
// @include grid('some', 'thing', 'else;);

//@include grid ('3x1'); 

// '4x1', '3x1', '2x2', '3x2', default one column



@mixin grid($size: '1') {
    @if $size == '4x1' {
        grid-template-columns: repeat(4, 1fr);
    }
    @else if $size == '3x1' {
        grid-template-columns: repeat(3, 1fr);
        
    }
    @else if $size == '2x2'{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "a b" "c d";
        
    }
    @else if $size == '3x2' {
        grid-template-columns: repeat(1fr 1fr 1fr);
        grid-template-areas: "a b c" "d e f";
    }
    @else {
      grid-template-columns: 1fr;  
    }
}
    
    